### Dictionary

We have users information as 

    Name      Acc Num       Balance    Password
    
    john      12345         50000      @1234@5
    natsha    12356         45000      @pass@123
    hari      12333         50000      @let'splay

In [1]:
bank_data = [ 'john',12345,50000,"@1234@5","natsha",12356,45000,"@pass@123",
            "hari",12333,50000,"@let'splay"]

In [3]:
bank_data = [
    
    ["john",12345,50000,"@1234@5"],
    ["natsha",12356,56000,"@pass@123"],
    ["hari",12333,50000,"@let'splay"],
]

In [9]:
bank_data[1][2] = bank_data[1][2] - 7500

In [10]:
bank_data

[['john', 12345, 50000, '@1234@5'],
 ['natsha', 12356, 48500, '@pass@123'],
 ['hari', 12333, 50000, "@let'splay"]]

In [11]:
# sam,343434,123456,'nopassword'

In [12]:
new_user = [ "sam",343434,123456,'nopassword']

In [13]:
bank_data.append(new_user)

In [14]:
bank_data

[['john', 12345, 50000, '@1234@5'],
 ['natsha', 12356, 48500, '@pass@123'],
 ['hari', 12333, 50000, "@let'splay"],
 ['sam', 343434, 123456, 'nopassword']]

In [15]:
bank_data.pop(-2)

['hari', 12333, 50000, "@let'splay"]

In [16]:
bank_data

[['john', 12345, 50000, '@1234@5'],
 ['natsha', 12356, 48500, '@pass@123'],
 ['sam', 343434, 123456, 'nopassword']]

In [17]:
t = (1,2,3,4,"hello")

In [18]:
t[::-1]

('hello', 4, 3, 2, 1)

In [20]:
t[3] = "hello"

TypeError: 'tuple' object does not support item assignment

In [21]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## Dictionary 

#### Dictionaries are Mutable
#### Dictionaries are un-ordered map type object
#### Dictionaries are collection of key-value pairs
#### Dictionaries should be hashable (immutable) 
#### Values in Dictionary can be any type

In [22]:
hash("hello")

4282648575613688385

In [23]:
hash("hello")

4282648575613688385

In [24]:
s  = "hello"

In [25]:
hash(s)

4282648575613688385

In [27]:
s = "hello world"

In [28]:
hash(s)

8231482469892975187

In [29]:
hash(input("Enter strin"))

Enter strinhello world

8231482469892975187

In [30]:
l = [ 1,2,3,4,5]

In [31]:
hash(l)

TypeError: unhashable type: 'list'

In [32]:
t  = (1,2,3,4,5)
hash(t)

8315274433719620810

In [33]:
data = { "key1":"value1","key2":"value2",}

In [34]:
data

{'key1': 'value1', 'key2': 'value2'}

In [35]:
data = { 'name':'sachin','name':'python','name':'grras'}

In [36]:
print(data)

{'name': 'grras'}

In [37]:
data['est_year'] = 2008

In [38]:
data

{'name': 'grras', 'est_year': 2008}

In [39]:
data[0]

KeyError: 0

In [40]:
data['name']

'grras'

In [41]:
info = {
    'name':'rahul',
    'age' : 18,
    'country':'india',
    'father_name' : 'sanjay',
    'education' : { 'school' : 88,
                    'high_school' : 84,
                    'graduation' : "70% till 5th sem" 
                    },
    'skills' :  [ 'java','c','c++','html','javascript'],
    
}

In [42]:
info

{'name': 'rahul',
 'age': 18,
 'country': 'india',
 'father_name': 'sanjay',
 'education': {'school': 88,
  'high_school': 84,
  'graduation': '70% till 5th sem'},
 'skills': ['java', 'c', 'c++', 'html', 'javascript']}

In [43]:
print(info)

{'name': 'rahul', 'age': 18, 'country': 'india', 'father_name': 'sanjay', 'education': {'school': 88, 'high_school': 84, 'graduation': '70% till 5th sem'}, 'skills': ['java', 'c', 'c++', 'html', 'javascript']}

In [44]:
from pprint import pprint # pretty printer 
pprint(info)

{'age': 18,
 'country': 'india',
 'education': {'graduation': '70% till 5th sem',
               'high_school': 84,
               'school': 88},
 'father_name': 'sanjay',
 'name': 'rahul',
 'skills': ['java', 'c', 'c++', 'html', 'javascript']}

In [46]:
info['education']['high_school']

84

In [47]:
info['skills'][:5]

['java', 'c', 'c++', 'html', 'javascript']

In [48]:
d = { 'name':'python','version':3.7,['version',1]:1994,}

TypeError: unhashable type: 'list'

In [49]:
d = { 'name':'python','version':3.7,('version',1):1994,
    ('version',2):2000,('version',3):2008}

In [50]:
d

{'name': 'python',
 'version': 3.7,
 ('version', 1): 1994,
 ('version', 2): 2000,
 ('version', 3): 2008}

In [52]:
d[('version',3)]

2008

In [54]:
d = { 'one':'two','two':'three'}

In [55]:
d['one']

'two'

In [56]:
d['two']

'three'

In [57]:
d['one'] = 'first comes first'

In [58]:
print(d)

{'one': 'first comes first', 'two': 'three'}

In [59]:
d['one']

'first comes first'

In [60]:
d['four']

KeyError: 'four'

In [61]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Functions of dictionary 

    1. dict.clear() --> it will delete all key-value pairs
    2. dict.copy() --> will return copy of original dict
    3. dict.fromkeys(keys,default_value) --> create a new dictionary with keys having default_value 
    4. *dict.get(key,default) --> will return object on key if key exists else return default
    5. *dict.items() --> will list of key-value pairs
    6. dict.keys() --> will return list of keys
    7. dict.pop(key) ---> will delete object map to key 
    8. dict.popitem() --> will delete arbitary object
    9. *dict.setdefault(key,value) --> will return object if key exists else update a new key in dictionary have value value
    10. *dict.update(collection of key-value pairs) --> will add and update key-value pairs in dictionary
    11. dict.values() --> will return list of values

In [62]:
data

{'name': 'grras', 'est_year': 2008}

In [82]:
data.clear()

In [83]:
data

{}

In [84]:
data['name'] = 'grras'
data['est_year'] = 2008
data['name'] = 'Grras Solutions Pvt LTD.'

In [85]:
data

{'name': 'Grras Solutions Pvt LTD.', 'est_year': 2008}

In [86]:
data1 = data.copy()

In [87]:
data['HeadOffice'] = 'Jaipur'

In [88]:
pprint(data)

{'HeadOffice': 'Jaipur', 'est_year': 2008, 'name': 'Grras Solutions Pvt LTD.'}

In [89]:
pprint(data1)

{'est_year': 2008, 'name': 'Grras Solutions Pvt LTD.'}

In [90]:
data

{'name': 'Grras Solutions Pvt LTD.', 'est_year': 2008, 'HeadOffice': 'Jaipur'}

In [91]:
data.fromkeys(['key1','key2','key3'],"Default")

{'key1': 'Default', 'key2': 'Default', 'key3': 'Default'}

In [94]:
new_data = data.fromkeys(data.keys(),None)

In [101]:
data

{'name': 'Grras Solutions Pvt LTD.', 'est_year': 2008, 'HeadOffice': 'Jaipur'}

In [102]:
data.get('name')

'Grras Solutions Pvt LTD.'

In [103]:
data.get('est_year')

2008

In [104]:
data['name']

'Grras Solutions Pvt LTD.'

In [105]:
data['something']

KeyError: 'something'

In [113]:
key = input("Enter your query : ").strip().lower()
data.get(key,"no such key available")

Enter your query : md

'no such key available'

In [115]:
data.items()

dict_items([('name', 'Grras Solutions Pvt LTD.'), ('est_year', 2008), ('HeadOffice', 'Jaipur')])

In [116]:
mylist = list(data.items())

In [117]:
mylist

[('name', 'Grras Solutions Pvt LTD.'),
 ('est_year', 2008),
 ('HeadOffice', 'Jaipur')]

In [119]:
data.keys()

dict_keys(['name', 'est_year', 'HeadOffice'])

In [120]:
data.values()

dict_values(['Grras Solutions Pvt LTD.', 2008, 'Jaipur'])

In [121]:
data

{'name': 'Grras Solutions Pvt LTD.', 'est_year': 2008, 'HeadOffice': 'Jaipur'}

In [122]:
data.setdefault("name","Hello World")

'Grras Solutions Pvt LTD.'

In [123]:
data.setdefault('type',"An IT company as well as Institute")

'An IT company as well as Institute'

In [124]:
data

{'name': 'Grras Solutions Pvt LTD.',
 'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'An IT company as well as Institute'}

In [125]:
data

{'name': 'Grras Solutions Pvt LTD.',
 'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'An IT company as well as Institute'}

In [126]:
data.update(name="GRRAS")

In [127]:
data

{'name': 'GRRAS',
 'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'An IT company as well as Institute'}

In [128]:
data.update([ ('courses',["java","python","DS","ML","CLOUD","linus"]),
             ('type','Institute'),('md',["Gaurav","Rajat","Ravi","Akhlish"]), ])

In [129]:
data

{'name': 'GRRAS',
 'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'Institute',
 'courses': ['java', 'python', 'DS', 'ML', 'CLOUD', 'linus'],
 'md': ['Gaurav', 'Rajat', 'Ravi', 'Akhlish']}

In [130]:
data.pop('name')

'GRRAS'

In [131]:
data

{'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'Institute',
 'courses': ['java', 'python', 'DS', 'ML', 'CLOUD', 'linus'],
 'md': ['Gaurav', 'Rajat', 'Ravi', 'Akhlish']}

In [132]:
data.pop('sachin')

KeyError: 'sachin'

In [133]:
data.popitem()

('md', ['Gaurav', 'Rajat', 'Ravi', 'Akhlish'])

In [134]:
d = dict(name='sachin',age=23,profession='cricketer',)

In [135]:
d

{'name': 'sachin', 'age': 23, 'profession': 'cricketer'}

In [136]:
d  = dict([('key1','value1'),('key2','value2'),('good','bad')])

In [137]:
d

{'key1': 'value1', 'key2': 'value2', 'good': 'bad'}

In [138]:
d

{'key1': 'value1', 'key2': 'value2', 'good': 'bad'}

In [139]:
data

{'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'Institute',
 'courses': ['java', 'python', 'DS', 'ML', 'CLOUD', 'linus']}

In [151]:
print("python")
#print(*"python",sep='\n')# 
print('p','y','t','h','o','n',sep='\n')

python
p
y
t
h
o
n

In [143]:
print([1,'hello','bye'])
print(*[1,'hello','bye'],sep='\n')

[1, 'hello', 'bye']
1
hello
bye

In [145]:
print(*data)

est_year HeadOffice type courses

In [147]:
data

{'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'Institute',
 'courses': ['java', 'python', 'DS', 'ML', 'CLOUD', 'linus']}

In [150]:
print(**data) # 
print(est_yer=2008,HeadOffice='Jaipur')

TypeError: 'est_year' is an invalid keyword argument for print()

In [152]:
meri = { **d,**data}

In [153]:
meri

{'key1': 'value1',
 'key2': 'value2',
 'good': 'bad',
 'est_year': 2008,
 'HeadOffice': 'Jaipur',
 'type': 'Institute',
 'courses': ['java', 'python', 'DS', 'ML', 'CLOUD', 'linus']}

In [154]:
name = input("Enter your name : ")
age = int(input("your age please : "))

Enter your name : sachin
your age please : 25

In [155]:
d = { 'name':name,
     'age':age}

In [156]:
d

{'name': 'sachin', 'age': 25}

In [157]:

d = { 
    'name': input("Enter your name : "),
    'skills' : eval(input("Enter your skill as list : ")),
    'color' : input("Enter color")

}

Enter your name : sachin
Enter your skill as list : ['c','c++','java','python','bash',]
Enter colorfair

In [158]:
d

{'name': 'sachin',
 'skills': ['c', 'c++', 'java', 'python', 'bash'],
 'color': 'fair'}

In [159]:
d = {}
for _ in range(5):
    key_value = [ (input("key : "),eval(input("value : ")))]
    d.update(key_value)

key : name
value : sachin
key : age
value : 23
key : country
value : india
key : skills
value : ['c','c++','java','python']
key : blood_group
value : B+ive

In [160]:
d

{'name': 'sachin',
 'age': '23',
 'country': 'india',
 'skills': "['c','c++','java','python']",
 'blood_group': 'B+ive'}

In [165]:
bool(input("Enter something : "))

Enter something :

False

In [170]:
d  = {}
while input("Press any key to continue : ") : 
    key_value = [ (input("key : "),eval(input("value : ")))]
    d.update(key_value)

Press any key to continue : k
key : name
value : 'sachin'
Press any key to continue : k
key : skills
value : ['c','c++','java']
Press any key to continue : k
key : education
value : {'school':88,'high_school':87,'b.tech':78}
Press any key to continue :

In [171]:
d

{'name': 'sachin',
 'skills': ['c', 'c++', 'java'],
 'education': {'school': 88, 'high_school': 87, 'b.tech': 78}}