In [2]:
s = "Hello World \n How are you " # actual representation

print(s) # formatted output StdOut

Hello World
 How are you

In [4]:
s # shell output raw_output

'Hello World \n How are you '

In [5]:
type(s)

str

In [6]:
print(type(s))

<class 'str'>

In [7]:
s.__repr__()

"'Hello World \\n How are you '"

In [8]:
s.__str__() # print(s)--> print(s.__str__())

'Hello World \n How are you '

In [9]:
print(repr(s))

'Hello World \n How are you '

In [10]:
print(str(s))

Hello World
 How are you

In [11]:
print(s.__repr__())

'Hello World \n How are you '

In [12]:
'hello '.__add__('bye')

'hello bye'

In [16]:
'hello ' + 'bye' # str.__add__('hello','bye')
str.__add__('hello  ','bye')

'hello  bye'

In [14]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [17]:
#s = "Hello world"
s = str("Hello world")

In [44]:
class Person :
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return self.name.upper()
    def __repr__(self):
        return self.name.center(50,'-')
    def reverse(self):
        return self.name[::-1]
    type = "Human"

In [45]:
p1 = Person('sachin')

In [46]:
p1

----------------------sachin----------------------

In [47]:
print(p1)

SACHIN

In [49]:
print(dir(p1))
p1.reverse()

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'name', 'reverse', 'type']

'nihcas'

In [50]:
s = str("Hello World")

In [51]:
s

'Hello World'

In [52]:
print(s)

Hello World

In [55]:
print("    Hello world     ".rstrip())

    Hello world

In [56]:
"   hello world   ".__repr__()

"'   hello world   '"

In [57]:
repr("    hello world    ")

"'    hello world    '"

In [58]:
s = "Hello World"
id(s)

2533694515888

In [61]:
s[0] = "h" # immutable

TypeError: 'str' object does not support item assignment

In [63]:
l = [ 1,2,3]
id(l)

2533698225224

In [65]:
l[0] = 'sachin'

In [66]:
l

['sachin', 2, 3]

In [67]:
id(l)

2533698225224

In [69]:
s = "hello"
print(id(s))
s1 = s.upper()

2533698221368

In [70]:
id(s)

2533698221368

In [71]:
id(s1)

2533697950808

In [72]:
s1

'HELLO'

In [73]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [83]:
x = ("hello",)

In [84]:
type(x)

tuple

In [92]:
l =  [ 1,2,3,335]

In [93]:
# item add 
print(l)

[1, 2, 3, 335]

In [94]:
l.append('python')

In [95]:
l

[1, 2, 3, 335, 'python']

In [96]:
l.append(['hello','hi','bye'])
l.append('good to go ')
print(l)

#A. [ 1,2,3,335,'python','hello','hi','bye','good to go']
#B. [ 1,2,3,335,'python',['hello','hi','bye'],'good to go']
#C. Error
#D. pta nh

[1, 2, 3, 335, 'python', ['hello', 'hi', 'bye'], 'good to go ']

In [98]:
mylist = [ 1,2.3,5+6j,'hi','hello',[1,2,'bye'],('good','bad'),
         {'name':'python','year':1994},iter('python')]

In [99]:
mylist

[1,
 2.3,
 (5+6j),
 'hi',
 'hello',
 [1, 2, 'bye'],
 ('good', 'bad'),
 {'name': 'python', 'year': 1994},
 <str_iterator at 0x24dec3187f0>]

In [100]:
l = [ 1,2,3,4]

In [101]:
l.append('python')

In [102]:
l

[1, 2, 3, 4, 'python']

In [103]:
l.append((1,2,3))

In [104]:
l

[1, 2, 3, 4, 'python', (1, 2, 3)]

# To add item to  a list
### l.append(object)
### l.extend(iterable)
### l.insert(pos,object)

In [105]:
l

[1, 2, 3, 4, 'python', (1, 2, 3)]

In [106]:
l.extend('python')
print(l)

#A. [1,2,3,4,'python',(1,2,3),'python']
#B. Error
#C. [1,2,3,4,'python',(1,2,3),'p','y','t','h','o','n']
#D. Pta nh

[1, 2, 3, 4, 'python', (1, 2, 3), 'p', 'y', 't', 'h', 'o', 'n']

In [107]:
l = []

In [108]:
l.append('python')

In [109]:
l

['python']

In [110]:
l = []
l.extend('python')

In [111]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [112]:
l = []

In [113]:
l.append('python')

In [114]:
l

['python']

In [115]:
l.extend(['helo','hi','java','c'])

In [116]:
l

['python', 'helo', 'hi', 'java', 'c']

In [117]:
# for loop is used to iterate over iterables or sequences

In [119]:
for kuch_bhi in 'python' : 
    print(kuch_bhi)

p
y
t
h
o
n

In [120]:
for anything in ['hello','bye','hi'] : 
    print(anything)

hello
bye
hi

In [121]:
l = []
l.append('python')
l.append(['hello','hi'])

In [122]:
l

['python', ['hello', 'hi']]

In [123]:
l.extend('python')

In [124]:
l =[]
l.extend([1,2,3,])

In [125]:
l

[1, 2, 3]

In [127]:
l = []
l.append([1,2,3])
l.extend('10')
print(l)

#A. [ [1,2,3],1,0 ]
#B. [ 1,2,3,1,0]
#C. [ [1,2,3],10]
#D. Error
#E. pta nh
#F. none of the above

[[1, 2, 3], '1', '0']

In [128]:
c = [ 'java','c','c++','php']

In [129]:
c

['java', 'c', 'c++', 'php']

In [130]:
c.append('java')
c.extend(['python','bash','ruby','perl'])
print(c)

['java', 'c', 'c++', 'php', 'java', 'python', 'bash', 'ruby', 'perl']

In [132]:
c[4]  = 'mar java'
c

['java', 'c', 'c++', 'php', 'mar java', 'python', 'bash', 'ruby', 'perl']

In [133]:
c.insert(4,'.net')

In [135]:
print(c)

['java', 'c', 'c++', 'php', '.net', 'mar java', 'python', 'bash', 'ruby', 'perl']

## To remove item from list 

#### list.pop() --> reverse of append
#### list.pop(index) --> reverse of insert
#### list.remove(object) --> delete first occurence of object from list

In [136]:
mylist = ['python','java','c','c++','c','c++','java']
print(mylist) # 1 [ 'python','java','c','c++','c','c++','java']
mylist.pop() # reverse of append
print(mylist) # 2[ 'python','java','c','c++','c','c++']
mylist.pop(2) # reverse of insert
print(mylist) # 3[ 'python','java',c++','c','c++']
mylist.remove('c')#[ 'python','java',c++','c++']
print(mylist) # 4

['python', 'java', 'c', 'c++', 'c', 'c++', 'java']
['python', 'java', 'c', 'c++', 'c', 'c++']
['python', 'java', 'c++', 'c', 'c++']
['python', 'java', 'c++', 'c++']

In [137]:
l

[[1, 2, 3], '1', '0']

In [139]:
l = [ 1,2,3,1,1,2]

In [140]:
l.remove(1)
print(l)

# A. [1,3,2]
# B. [2,3,1,1,2]
# C. [ 1,1,1]
# D. nh pta ky ho rha hai

[2, 3, 1, 1, 2]

###Common methods of list

#### list.reverse() --> reverse the list inplace
#### list.index(object) --> return index value of object else error
#### list.count(object) --> count the repeatition of object in list
#### list.clear() --> will remove all items from list
#### list.copy() --> will return a copy of list
#### list.sort() --> will sort a list

In [141]:
l

[2, 3, 1, 1, 2]

In [142]:
l.reverse() # l[::-1]
print(l)

[2, 1, 1, 3, 2]

In [143]:
l.index(2)

0

In [147]:
l = [ 'java','c','java','c++','python']

index_value = l.index('java')
print(index_value)

0

In [144]:
l = [ 1,2,3,4]
x  = l.pop()
print(x) # 4
y = l.insert(0,'hi')
print(y) #  None
print(l) # [ 'hi',1,2,3]

4
None
['hi', 1, 2, 3]

In [145]:
l

['hi', 1, 2, 3]

In [146]:
l.remove('sachin')

ValueError: list.remove(x): x not in list

In [148]:
from random import randint

In [155]:
# list compression
mylist = [ randint(1,10) for var in range(30) ]

In [157]:
print(mylist)

[7, 2, 3, 5, 8, 1, 5, 10, 5, 3, 3, 10, 9, 7, 10, 7, 8, 8, 8, 2, 2, 1, 10, 4, 5, 3, 4, 4, 5, 6]

In [158]:
mylist.index(10)

7

In [159]:
mylist.count(3)

4

In [160]:
mylist.count(50)

0

In [161]:
mylist.count(10)

4

In [162]:
l

['java', 'c', 'java', 'c++', 'python']

In [163]:
data = [ *'python' ]

In [164]:
print(data)

['p', 'y', 't', 'h', 'o', 'n']

In [165]:
one = [ 'java','c','c++']
two = [ 'bash','ruby','perl']

merge = [ *one, *two ]
print(merge)

['java', 'c', 'c++', 'bash', 'ruby', 'perl']

In [166]:
one+two

['java', 'c', 'c++', 'bash', 'ruby', 'perl']

In [167]:
merge

['java', 'c', 'c++', 'bash', 'ruby', 'perl']

In [168]:
merge.clear()

In [169]:
merge

[]

In [170]:
merge.pop()

IndexError: pop from empty list

In [173]:
l = [ 'hello','bye','hi']
print("id of l ",id(l))
l1 = l 
print("id of l1 ",id(l1))
l1.append('hello world')
l1.insert(0,'python')
l is l1

id of l  2533698433096
id of l1  2533698433096

True

In [172]:
print(l)
print(l1)

['python', 'hello', 'bye', 'hi', 'hello world']
['python', 'hello', 'bye', 'hi', 'hello world']

In [174]:
s = "Hello World"
k = s
s = s.lower()

print(k)
print(s)

Hello World
hello world

In [175]:
l

['python', 'hello', 'bye', 'hi', 'hello world']

In [176]:
l1 = l.copy()
print(id(l1))
print(id(l))

2533698336392
2533698433096

In [177]:
l is l1

False

In [178]:
l

['python', 'hello', 'bye', 'hi', 'hello world']

In [179]:
l1

['python', 'hello', 'bye', 'hi', 'hello world']

In [180]:
l.append('bye')

In [181]:
l

['python', 'hello', 'bye', 'hi', 'hello world', 'bye']

In [182]:
l1

['python', 'hello', 'bye', 'hi', 'hello world']

In [183]:
# what is shallow copy and deep copy in python ?

### to use sort list should be homogenous

In [186]:
from random import randint
l = [ randint(1,15) for var in range(15)]

In [187]:
l

[10, 13, 10, 10, 12, 2, 10, 3, 1, 4, 6, 8, 10, 3, 4]

In [188]:
l_old = l.copy()

In [189]:
l

[10, 13, 10, 10, 12, 2, 10, 3, 1, 4, 6, 8, 10, 3, 4]

In [190]:
l.sort()

In [191]:
l

[1, 2, 3, 3, 4, 4, 6, 8, 10, 10, 10, 10, 10, 12, 13]

In [192]:
l_old

[10, 13, 10, 10, 12, 2, 10, 3, 1, 4, 6, 8, 10, 3, 4]

In [193]:
l_old.sort(reverse=True)

In [194]:
l_old

[13, 12, 10, 10, 10, 10, 10, 8, 6, 4, 4, 3, 3, 2, 1]

In [195]:
s = [ "Sachin",'rajat','nidhi','rahul','Vijay','rajni','data']

In [196]:
s.sort()

In [197]:
s

['Sachin', 'Vijay', 'data', 'nidhi', 'rahul', 'rajat', 'rajni']

In [198]:
# charter-set --> unicodes 
chr(65)

'A'

In [199]:
chr(90)

'Z'

In [200]:
chr(97)

'a'

In [203]:
chr(122)

'z'

In [204]:
l = [ ['hello',5],['bye',3],['good',10],['bad',1]]

In [205]:
l.sort()
l

[['bad', 1], ['bye', 3], ['good', 10], ['hello', 5]]

In [209]:
l.sort(key=lambda x:x[1])
l

[['bad', 1], ['bye', 3], ['hello', 5], ['good', 10]]

In [210]:
s1 = "Hello Word "
s2 = "Bye World"

In [211]:
s1 + s2

'Hello Word Bye World'

In [212]:
s1 * 10

'Hello Word Hello Word Hello Word Hello Word Hello Word Hello Word Hello Word Hello Word Hello Word Hello Word '

In [214]:
"AB"*5

'ABABABABAB'

In [215]:
var1 = 3
var2 = 5
s = "value of var1 = "+str(var1) + "\t value of var2 = " + str(var2) 
print(s)

value of var1 = 3	 value of var2 = 5

In [217]:
v1 = 5
v2 = 6

s = "value 1 = {1} and value 2 = {0}"
print(s.format(v1,v2))

value 1 = 6 and value 2 = 5

In [218]:
l = [ 1,2,3,4,5,6,7,8,9]
print(*l)

1 2 3 4 5 6 7 8 9

In [219]:
s = "{}, {}, {}, {},{}".format(*[1,2,3,4,5])
s

'1, 2, 3, 4,5'

In [228]:
l = [1,2,5,6,7,8]
s ="{}, "*len(l)
s = s[:-2]
s.format(*l)

'1, 2, 5, 6, 7, 8'

In [251]:
l = [ [1,2,3] ] * 5

In [252]:
print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [253]:
l[4].append("sachin")
print(l)

[[1, 2, 3, 'sachin'], [1, 2, 3, 'sachin'], [1, 2, 3, 'sachin'], [1, 2, 3, 'sachin'], [1, 2, 3, 'sachin']]

In [248]:
l = []

In [243]:
l.append('sachin')

In [244]:
l

['sachin', 'sachin', 'sachin']

In [255]:
for item in l  : 
    print(id(item))

2533698324424
2533698324424
2533698324424
2533698324424
2533698324424

### Tuples

#### Tuple are same as list except tuples are immutable

In [256]:
k = tuple([1,2,3,4,5,5])

In [257]:
print(type(k))

<class 'tuple'>

In [258]:
k = (1,2,3,4,5)

In [259]:
print(type(k))

<class 'tuple'>

In [260]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [262]:
k[:5]

(1, 2, 3, 4, 5)

In [263]:
k[-3:]

(3, 4, 5)

In [264]:
k[0]

1

In [265]:
k[0] = 'hi'

TypeError: 'tuple' object does not support item assignment